source ~/.tvbindings
alias 4k="~/4kvideodownloader/4kvideodownloader.sh"
alias bookworm="com.github.babluboy.bookworm"
alias cat="bat"
alias dvp="setxkbmap us -variant dvp -option caps:super"
alias fr="find . -name"
alias g="git"
alias gr="grep -ri"
alias grep="grep --color=auto" # Color grep - highlight desired sequence.
alias hide="sleep 1; xset dpms force off"
alias ls='ls -hN --color=auto --group-directories-first'
alias markdate="date +\"[%Y-%m-%d %a %H:%M]\""
alias mkd="mkdir -pv"
alias own="sudo chown sumofalln00bs:sumofalln00bs"
alias p="sudo pacman"
alias Pro="cd ~/Projects"
alias piw="cd ~/Documents/Plans/; v Programs_I_Want.txt"
alias q="exit"
alias :q="exit"
alias qwerty="setxkbmap us"
alias sdn="sudo shutdown now"
alias SS="sudo systemctl"
alias u="cd .."
alias v="nvim"
alias sv="sudo nvim"
alias smci="sudo make clean install"
alias x="clear"

checkgitaccount() {
    git config --global user.name
    git config --global user.email
}
setgitaccount() {
    git config --global user.name SumOfAllN00bs
    git config --global user.email discordshards@gmail.com
}
